/* Global */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  background-color: white;
}
.main {
  width: 1600px;
  margin: 0 auto;
  background-color: black;
  justify-content: center;
}
a {
  color: #ffffff; /* Default link color */
  text-decoration: none; /* Remove underline */
}
p {
  font-family: "Arial", sans-serif;
  font-size: 25px;
  font-weight: lighter;
  line-height: 1.5;
}
h1 {
  color: #ffffff;
  padding: 20px;
  font-size: 60px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  line-height: 1;
}
h2 {
  text-align: left;
  color: #ffffff;
  padding: 20px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 950;
  padding-bottom: 0;
  font-size: 30px;
}

/* Header */
header {
  background-color: #d22131;
}
img.logo {
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* Opener */

.opener p {
  color: #ffffff;
  text-align: left;
  padding: 0px 65px;
}
.opener h1 {
  padding: 80px 65px 0px;
  transform: scaleY(0.7);
  font-size: 80px;
}

.opener {
  text-align: center;
  margin-bottom: 70px;
  position: relative;
  overflow: hidden;
}
.opener img {
  width: 49%;
  height: auto;
  float: right;
  margin-top: 0; /* Adjust as needed */
  margin-right: -70px;
}
.shop-button {
  display: inline-block;
  background-color: #d22131;
  color: #fff;
  border-radius: 25px;
  font-size: 30px;
  width: 250px;
  height: 80px;
  margin: 60px 0 0 -500px;
}
.shop-button:hover {
  background-color: #5f0202; /* Darker shade */
}

/* Table */

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  text-align: center;
}

.table td {
  padding: 20px 65px;
  width: 50%;
}
.table h2 {
  margin-top: 50px;
}

.table img {
  width: 50%;
  height: 50%;
  float: left;
  margin-right: 10px;
}

.table p {
  color: #ffffff;
  text-align: left;
  font-size: 25px;
  padding: 20px;
}

.table,
.content {
  display: flex;
  align-items: center;
}

/* Included Section */

.included {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0px;
}
.included img {
  max-width: 150px;
  height: auto;
}

.included_text h2,
p {
  text-align: center;
  color: #ffffff;
  margin-left: 0px;
}
.paragraph {
  margin-bottom: 20px;
}

/*Container*/

.container {
  text-align: center;
  color: white;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container,
.contact_info {
  flex: 1;
  padding: 30px 100px;
}

/* Contact Info */

.contact_info {
  height: 100%;
  width: 70%;
  padding: 65px;
  background-image: url("https://img.topoffroadperformance.com/landing_page/red_bg.png");
  background-size: 800px 700px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  color: white;
}

.contact_info td {
  display: block;
}
.contact_info_table,
.icon {
  display: flex;
  align-items: center;
}

.contact_info img {
  width: 50px;
  height: auto;
  float: left;
}
.contact_info h1 {
  text-align: center;
  font-size: 75px;
  font-weight: 900;
  margin: 80px 25px auto 0;
  padding: 0;
  transform: scaleY(0.6); /* Adjust the value to control the squash effect */
  line-height: 1;
}
.contact_info p {
  text-align: left;
  font-size: 25px;
  padding: 5px 20px;
}

/* Form-Container */
.labels {
  position: relative;
}
label {
  position: absolute;
  font-family: "Arial", sans-serif;
  font-weight: light;
  font-size: 25px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 35px;
  margin-bottom: 10px;
  font-size: 25px;
}
textarea {
  width: 650px; /* Set the width of the textarea */
  height: 250px;
}
#name {
  width: 645px;
  height: 60px;
  margin-right: 10px;
}
.inline-inputs {
  display: flex;
  gap: 10px;
}
.inline-inputs input[type="tel"],
.inline-inputs input[type="email"] {
  flex: 1;
  margin-right: 10px;
  width: 310px;
  height: 60px;
}
form {
  width: 845px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.checkbox-input label {
  display: inline; /* Display label as inline-block */
  vertical-align: middle; /* Align label vertically with checkbox */
  margin-bottom: 8px; /* Add space between label and input */
  margin-left: 40px;
}
.checkbox-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-right: 615px;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
  background-color: black;
  border-radius: 1px;
  outline: none;
  border: 2px solid #fff;
  cursor: pointer;
  vertical-align: middle;
}
.submit {
  background-color: #d22131;
  font-size: 25px;
  color: #ffffff;
  border-radius: 25px;
  width: 220px;
  height: 60px;
  margin-right: 415px;
  margin-top: 20px;
}

/* Footer */

footer {
  background-color: #d22131;
}
img.footer {
  width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

/* Pop Up */
.popup {
  display: none;
  height: 65%;
  width: 55%;
  position: fixed;
  bottom: 15%;
  left: 25%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control transparency */
  z-index: 999; /* Ensure the overlay is above other content */
  display: none; /* Initially hide the overlay */
}
.popup-content img {
  width: 40%;
  height: auto;
  margin: 20px;
}

.popup-content h4 {
  font-size: 25px;
  color: #fff;
  font-weight: 100;
  font-family:  "Arial", sans-serif;
}
.popup-content h1 {
  font-size: 60px;
  transform: scaleY(0.8);
  padding: 10px 0;
}
.popup-content button {
  background-color: #ffffff;
  font-size: 20px;
  font-family:  "Arial", sans-serif;
  color: #d22131;
  border-radius: 15px;
  width: 65%;
  height: 50%;
  margin: 30px 0 15px;
  padding: 15px;
}
.popup-content button:hover {
  color: #ffffff;
  background-color: #960d16;
}
.close-icon {
  width: 20px; /* Set the width of the icon */
  height: 20px; /* Set the height of the icon */
  position: absolute;
  top: 25px;
  right: 20px;
  background-image: url("https://img.topoffroadperformance.com/landing_page/X.png"); /* Path to your PNG file */
  background-size: cover; /* Make sure the icon covers the div */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.close-icon:hover {
  opacity: 0.7; /* Reduce opacity on hover */
}

.popup-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Horizontally center */
  align-items: center;
  background-color: #d22131;
  padding: 165px;
  border-radius: 5px;
  z-index: 1000;
}


/* Mobile Version */

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
    height: 100%;
    background-color: black;
    justify-content: center;
  }
  p {
    font-size: 15px;
  }

  /* Header */
  header {
    height: 125px;
  }
  img.logo {
    padding: 30px 0 0 0;
    margin: 65;
    width: 30%;
  }

  /*Opener*/
  .opener h1 {
    font-size: 27px;
  }
  .opener img {
    margin: 0;
    width: 55%;
    margin-right: -30px;
  }
  .opener {
    margin: 0;
  }

  .opener p,
  .opener h1 {
    width: auto;
    float: none;
    padding: 0;
    margin: 0 100px 0 20px;
  }
  .shop-button {
    width: 150px;
    height: 40px;
    margin-right: 470px;
    margin-left: 0;
    margin-top: 15px;
    font-size: 15px;
  }

  /* Table */

  .content img {
    width: 40%;
    height: auto;
    padding: 20px 0 10px 20px;
  }

  .table tbody,
  .table tr,
  .table td {
    display: block;
  }
  .table td {
    padding: 0;
    width: 90%;
  }
  .table p,
  .table h2 {
    padding: 10px 0 0 5px;
  }
  .table h2 {
    font-size: 20px;
  }
  .table p {
    font-size: 15px;
  }

  /*Included section*/

  .included_text h2 {
    font-size: 20px;
  }

  .included img {
    max-width: 90px;
    height: auto;
  }
  .paragraph p {
    padding: 0 50px;
  }
  .paragraph br {
    display: none;
  }

  /* Container*/

  .container {
    flex-direction: column;
    margin-bottom: 40px;
    height: auto;
    width: 100%;
  }

  /* Contact Info */
  .contact_info p {
    font-size: 15px;
    text-align: center;
  }
  .contact_info img {
    width: 15%;
    float: left;
    padding-right: 5px;
  }
  .contact_info h1 {
    margin-top: 30px;
    font-size: 25px;
  }

  .contact_info {
    width: 770px;
    height: 350px;
    background-size: 90% 90%; /* Cover the entire container */
    background-position: center;
    padding: 0;
    margin-right: 25px;
  }
  .contact_info_table,
  .icon {
    display: flex;
    align-items: center;
  }
  .contact_info_table {
    display: block;
    align-items: center;
    width: 100%;
    height: 150px;
    margin-left: 80px;
  }
  .contact_info_table tr {
    display: flex;
    width: 80%;
    height: auto;
    padding: 0;
  }
  .contact_info_table td {
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    padding-right: 35px;
  }
  .contact_info_table p {
    padding: 0 5px;
    text-align: left;
  }
  .header_p br,
  .table br {
    display: none;
  }
  .header_p p {
    margin: 0 100px;
  }
  .header_p h1 {
    padding-top: 20px;
    font-size: 30px;
  }

  /* Form */
  label {
    font-size: 15px;
  }
  #name {
    width: 525px;
    height: 40px;
  }
  .inline-inputs input[type="tel"],
  .inline-inputs input[type="email"] {
    width: 250px;
    height: 40px;
  }
  textarea {
    width: 525px; /* Set the width of the textarea */
    height: 150px;
  }
  .submit {
    font-size: 15px;
    height: 40px;
    width: 150px;
    margin-left: 400px;
    margin-top: 5px;
  }
  .checkbox-input {
    margin: 10px 485px 0 0;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    margin-top: 25px;
    margin-bottom: 5px;
  }
  input[type="checkbox"] {
    width: 20px; /* Adjust the width as needed */
    height: 20px; /* Adjust the height as needed */
  }

  /* Pop Up */
  .popup {
    display: none;
    height: 35%;
    width: 60%;
    position: fixed;
    bottom: 10%;
    left: 14%;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .popup-content {
    height: 100%;
    width: 100%;
    background-color: #d22131;
    padding: 0px 100px;
    border-radius: 5px;
    z-index: 1000;
  }
 

  .popup-content h1 {
    font-size: 25px;
  }
  .popup-content h4 {
    font-size: 15px;
    text-align: center;
  }
  .popup-content button {
    padding: 0px;
    font-size: 10px;
    width: 60%;
    height: 10%;
  }

  /* Footer */

  img.footer {
    width: 50%;
    padding: 10px;
  }
}
